
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;*/

/*-------body-----*/
ody {
    width: 95%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

    margin-bottom: 1px;
    justify-content:center;
}
/*-------header-----*/

header {
    width: 100%;
    background-color: #EAC926; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.contenedor-encabezado {

    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1em;
   }

#logo {
    width: 90%;
    cursor: pointer;
}
/*-------css contenedor ----*/

.burger-menu  {
    display: flex;
    justify-content: center;
    background-color: #03264c;
    border-radius: 1em;
    
}

#menu-hamburguesa { 
    
    color: beige;
    height: 30px;
    padding: 10px;
    width: 30px;
    cursor: pointer; 
    
    
}

#barra-buscador{
    flex-direction: row;
}

.navegadores {
    display:none;
    justify-content: space-around;      
}


/*-------main-----*/
.titulo {
    font-weight: sans-serif;
    text-align: center;

    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 24xp;
}

.cja-registro {
    font-family: inherit;
    display: grid;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    gap: 1.5em;
    padding:  3em .5em;
    text-align: center;
    
    gap: 3em;

    margin: auto;
    width: 90%;
    border-radius: 1em;
    padding-top: 1em;
}
form {
    display: grid;
    justify-content: space-between;
    justify-items: center;

}

#input {

    width: 80%;
    max-width: 300px;
    border-radius: .5em;
    outline: none;
    border: none;
    padding: 1em;

}

#bton-ingresar {

    background-color: #03264c;
    font-weight: 500;
    text-decoration-color: #fff;
}
/*-------footer-----*/

footer{
    padding-top: 1em;
    background-color: #fff;
    padding-bottom: 1.2em;
}

.footer-items {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 text-align: center;
 margin-bottom: 1.1em;
 gap: 1.5em;
 padding: 1.5em;
}

.items {
text-align: center;
}

.icono-item {
 font-size: 2em;
 color: #03264c;
}

.Copyright {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}

/*-----mediaq-------*/

@media (min-width: 480px) {
    /*----header---*/

    header {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
    }
    img{
        
        width: 70%;
    }

    .contenedor-encabezado { 
        align-items: center;
        flex-direction: row;
        width: 100%;
    } 

    .navegadores {
           display: none;
       }
   
    .navbar {
           display: flex;
           gap:1.5em;
       }
       .navegadores {
           display: none;
       }
   
       .navbar {
           display: flex;
           gap:1.5em;
       }
   
       /*------main----*/
      

}
   
@media (min-width:768px) {
       
       
    header {
        display: flex;
        flex-direction:center;
        justify-content: space-between;
        width: 100%;
    }

    .contenedor-encabezado {
        flex-direction: row;
        justify-content: space-between;
       }

    #logo {
         max-width:20%;
         cursor: pointer; 
    }  
   
    .buscador{
           max-width: 40%;
       }
   
    .formas-de-pago {
           max-width: 30%;
           font-size: 15px;
       }
      
    .navegadores {   
           display:flex;
           flex-direction: row;
           justify-content: space-between;       
           align-items: center;
       }
       
    .navbar{  
           font-size: 14px;             
       }
   
    .navbar1{
           text-align:left ;
       }
   
    .navbar2{
           text-align: right;
       }
   
    .burger-menu{
           display: none;
       }
   
    main{
           display: flex;
    }

    footer {
        display: flex;
    }

    .footer-items {
        
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        margin-bottom: 1.1em;
        gap: 1.5em;
        padding: 1.5em;
       }
       

    .items {
           
           justify-content: space-between;
           align-items: flex-start;
           text-align: center;
       }  
   }    