*{
    width: 0;
    height: 0;
    box-sizing: border-box;
}
/*paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;*/

/*-------body-----*/

/*-------header-----*/

/*-------main-----*/

/*-------footer-----*/

/*-----mediaq-------*/