*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;*/

/*-------body-----*/
body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
    font-weight: 300;
    display:block;
    flex-direction: column;
    justify-content:center;
}

/*-------header-----*/

header {
    background-color: #EAC926; 
    padding: 0.5em 1.5em 0.8em 1.5em;
}

.contenedor-encabezado {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 1em;
}

#logo {
 width: 100%;
 cursor: pointer;
 background-position: center;
}

#logo, .buscador {
    width: 50%;
}

.buscador {
 position:relative; 
 justify-content: flex-start;
 align-items: center;
 
}

input{
    border: 0;
    width: 200px;
    padding: 10px;
    outline: none;
    border-radius: 1em;  
}

button{
    background-color: beige;
    padding: 10px 15px;
    position: absolute;
    border: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border-radius:1em ;
    border-style: solid;
    cursor: pointer;
}

.formas-de-pago {
    font-size: 14px;
}

.navegadores {
    display:none;
    justify-content: space-around;      
}

.navbar{ 
    margin-top: 1.3em;
    text-align: center;
    color: black;
    font-size: 12px;
}

.burger-menu  {
    display: flex;
    justify-content: center;
    position: relative;
}

#menu-hamburguesa {
    background-color: #03264c;
    color: beige;
    border-radius: 5px;
    padding: 0.5em;
    border-bottom: black;
    margin-top: 0.5em;
    cursor: pointer;
}

/*----banner----*/


.banner {
    max-width: 100%;
    max-height: 100%;
}

/*-------main-----*/
main {
    flex-direction: column;
    justify-content: space-between;
}

.titulo {
 font-size: 24px;
}

/*.seccion-productos {

}



.productos {

}

.productoA {

}

#imagen {

}

.detalle-del-producto {

}

.descuento {

}

/*-------footer-----*/

/*.footer-items {

}

.items {

}

.icono-item {

}

.titulo-item {

}

.descripcion-item 


.Copyright /*

/*-----@media-compu-------*/
 /*
 @media (min-width:768)
    #logo {
    width:30%;
    height: 30%
    }
/*